<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <!-- Pass f as a local variable -->
  <%= render 'fields', :f => f%>
  <div class="actions">
	<%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <!-- Open the change photo page in a new tab -->
  <%= link_to "change", "http://gravatar.com/emails", :target => '_blank'%>
  <!-- <a href="http://gravatar.com/emails" target="_blank">change</a> -->
</div>