<h1>Sign up</h1>

<!-- This is a rails stock command that allows you to build a form *form_for* -->
<%= form_for(@user) do |f| %>
  <!-- Render error messages that automatically are outputted in the rails console, 
   'shared/error_messages is a partial -->
  <%= render 'shared/error_messages'%>
  <div class="field">
	<!-- in html: label for user_name, it is 'Name' -->
	<%= f.label :name %><br />
	<!-- in html: input user_name, type = text - not obscured -->
	<%= f.text_field :name %>
  </div>
  <div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
  </div>
  <div class="field">
	<%= f.label :password %><br />
	<!-- in html: input user_password, type = password - obscured (only dots) for security -->
	<%= f.password_field :password %>
  </div>
  <div class="field">
	<%= f.label :password_confirmation, "Confirmation" %><br />
	<%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
	<!-- This is the sign-up button text  -->
	<%= f.submit "Sign up" %>
  </div>
<% end %>

