<!DOCTYPE html>
<html>
  <head>
	<!-- call the title method defined in application_helper which inserts 
	the title -->
    <title><%= title %></title>
	<!-- RAILS SECURITY FEATURE cross-site request forgery (CSRF) -->
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
  </head>
  <body>
	<div class="container">
		<!-- render the header partial -->
		<%= render 'layouts/header' %>
		
		<!-- body -->
		<section class="round">
			<%= yield %> 
		</section>
		
		<!-- render the footer partial -->
		<%= render 'layouts/footer' %>
	</div>							
	<!-- will yield to the content of the given page -->
    
  </body>
</html>
