<!DOCTYPE html>
<html>
  <head>
	<!-- call the title method defined in application_helper which inserts 
	the title -->
    <title><%= title %></title>
    
	<!-- RAILS SECURITY FEATURE cross-site request forgery (CSRF) -->
	<%= csrf_meta_tag %>
	
	<!-- [if lt IE 9]
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	[endif] -->
	<!-- Rails helper stylesheet_link_tag (read about in API)
	includes the blueprint/screen.css for screens, and the other for printing
	Rails looks in the public/stylesheets folder by default, so only need 
	the continuation to 'blueprint/screen' call -->
	<%= stylesheet_link_tag '/public/stylesheets/blueprint/screen.css', :media => 'screen' %>
	<%= stylesheet_link_tag '/public/stylesheets/blueprint/print.css',  :media => 'print' %>
  </head>
  <body>
	<!-- will yield to the content of the given page -->
    <%= yield %>  
  </body>
</html>
