<!DOCTYPE html>
<html>
  <head>
	<!-- call the title method defined in application_helper which inserts 
	the title -->
    <title><%= title %></title>
	<!-- RAILS SECURITY FEATURE cross-site request forgery (CSRF) -->
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<!-- Have to include JavaScript libraries, because web browsers can't
	  		send the Delete request issued in _user.html.erb natively-->
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
	<div class="container">
		<!-- render the header partial -->
		<%= render 'layouts/header' %>
		
		<!-- body -->
		<section class="round">
			<!-- flash error messages when they are passed to the flash function -->
			<% flash.each do |key,value| %>
			  <%= content_tag(:div, value, :class => "flash #{key}") %>
			<% end %>
			<%= yield %> 

		</section>
		
		<!-- render the footer partial -->
		<%= render 'layouts/footer' %>
		<!-- adds the debugger to the site, only viewable in 'production' environment, see CH6 -->
		<%= debug(params) if Rails.env.development? %>
	</div>							
	<!-- will yield to the content of the given page -->
    
  </body>
</html>
